@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

input, button {
  outline: none;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}
